<div class="page home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">
                    <img class="svg" src="assets/svg/file.svg" alt="Logo">
                   <span> Todo List App</span>
                </h2>
            </div>
            <div class="col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>ToDo List</mat-label>
                      <input matInput placeholder="Ex.Coding" #newTodo value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addTodo(newTodo)" type="button">Add</button>

                   
                  </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 ">
                <mat-card class="d-flex"><div class="example-container">
                    <h2>To do</h2>
                  
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="data.todo"
                      [cdkDropListConnectedTo]="[testList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.todo" cdkDrag>
                        <img class="svg" src="assets/svg/clock.svg" alt="Waiting">  
                        {{item}}</div>
                    </div>
                  </div>
                  
               
                  <div class="example-container">
                    <h2>Test</h2>
                  
                    <div
                      cdkDropList
                      #testList="cdkDropList"
                      [cdkDropListData]="data.testing"
                      [cdkDropListConnectedTo]="[todoList,doneList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.testing" cdkDrag>
                        <img class="svg" src="assets/svg/hourglass.svg" alt="Waiting">  
                        {{item}}</div>
                    </div>
                  </div>
                  <div class="example-container">
                    <h2>Done</h2>
                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="data.done"
                      [cdkDropListConnectedTo]="[testList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                        <img class="svg" src="assets/svg/like.svg" alt="Waiting">  
                        {{item}}</div>
                    </div>
                  </div>
                  </mat-card>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-2">
                 <small>Copyright 2020 Todo List App</small>
            </div>
        </div>
    </div>
</div>
